.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
  grid-template-areas: 
  "h h"
  "n c";
}
.header{
  background-color: green;
    grid-area: h;
}

.nav{
  background-color: burlywood;
grid-area: n;
}

.content{
  background-color: cornflowerblue;
    grid-area: c;
}
.header img {
  width: 80px;
}